<div class="container mt-5">
  <h1 class="mb-4">Edit Tool</h1>
  <%= render 'form', tool: @tool %>

  <div class="mt-3">
    <%= link_to "â† Back to Tool", tool_path(@tool), class: "btn btn-outline-success rounded-pill px-4" %>
  </div>
</div>
