<div
  id="tools-map"
  data-controller="index-map"
  data-index-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-index-map-markers-value="<%= raw @markers.to_json %>"
  style="width: 100%; height: 90vh;">
</div>
