<div class="card-tool-show">
  <img src=<%= @tool.image_url %>/>
  <div class="card-tool-infos">
    <div>
      <h2><%= @tool.name %></h2>
      <p><%= @tool.description %></p>
    </div>
    <h2 class="card-tool-pricing">$5.00</h2>
  </div>
</div>
