<%= simple_form_for([@tool, @booking]) do |f| %>
  <div class="mb-3">
    <%= f.input :start_date, as: :date, label: "Start Date" %>
  </div>

  <div class="mb-3">
    <%= f.input :end_date, as: :date, label: "End Date" %>
  </div>

  <div class="d-grid gap-2">
    <%= f.button :submit, "Book This Tool", class: "btn btn-primary" %>
  </div>
<% end %>
